html {
  height: 100%;
}
body {
  background: repeat linear-gradient(45deg, #202020, #080808);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  font-size: 5em;
  background-color: rgba(33, 34, 51, 0.9);
  color: #ffffff;
  font-style: italic;
  font-family: "Madimi One", sans-serif;
}
a {
  color: #651af0;
  font-size: 2rem;
  position: relative;
  align-self: flex-end;
  margin-top: 10px;
  text-decoration: none;
  font-family: "Madimi One", sans-serif;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 3rem;
  color: #651af0;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  font-style: italic;
  font-family: "Madimi One", sans-serif;
}

.container {
  padding: 4rem;
  margin: 20px auto;
  width: 90vw;
  max-width: 1200px;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  max-width: 100%;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-container {
  position: relative;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  text-shadow: #000000;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 250ms ease;
}
.description p {
  padding: 10px 100px 10px 100px;
  font-size: 1.5rem;
}
.description h1 {
  padding-right: 40px;
  font-size: 3rem;
  text-shadow: #000000;
}
.play {
  z-index: inherit;
  border-radius: 1.5rem;
  padding: 10px 40px 10px 40px;
  margin-right: 40px;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(45deg, #8f5deb, #651af0);
}
.play:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.image-container:hover .description {
  opacity: 1;
}

.slider-nav {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 20px; /* Adjust based on your preference */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity 250ms ease;
}

.slider-nav a:hover,
.slider-nav a:focus {
  opacity: 1;
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 10px;
  color: #fff;
  background: none;
}
